html
	head
		meta(charset='utf-8')
		title Преподаватель
	body
		if course != null
			form(action="/course/"+course.id method="POST")
				input(name="name" value=course.name)
				input(type="submit" value='Отправить')
		else
			div Студент с таким id не найден