html
	head
		meta(charset='utf-8')
		title Студент
	body
		if student != null
			form(action="/student/"+student.id method="POST")
				input(name="firstname" value=student.firstname)
				input(name="lastname" value=student.lastname)
				input(name="midlename" value=student.middlename)
				input(name="attending" type="checkbox" id="attending")
				label(for="attending") Пришел на занятие
				input(type="submit" value='Отправить')
		else
			div Студент с таким id не найден